@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import 'reset';

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin header {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

@mixin letterpress($color) {
  text-shadow: $color 0 -2px 0;
}

$font-stack: 'Montserrat', Helvetica, sans-serif;
$body-font: 'Open Sans', Helvetica, sans-serif;
$primary-color: #6c8ad7;
$primary-color-dark: #576fac;
$primary-color-light: #7697ed;

h1,h2,h3,h4,h5,h6 {
  font-family: $font-stack;
  @include header;
  @include letterpress($primary-color-dark);
}

h1 {
  font-size: 50px;
  margin-bottom: -10px;
  margin-top: 100px;
}

h2 {
  font-size: 17px;
}

h3 {
  font-size: 30px;
}

body {
  background-color: $primary-color;
  font-family: $body-font;
}

#header {
  position: absolute;
  height: 100px;
  width: 960px;
  @include center-block;
}

#content-none,
#content {
  width: 960px;
  padding: 20px;
  @include center-block;

  #button-group {
    width: 600px;
    @include center-block;
  
    #join {
      float: right;
    }
  }
}

#content-login {
  @extend #content-none;
  
  .none-button {
    @include center-block;
  }
}

.none-button {
  padding: 20px;
  background-color: $primary-color;
  font-family: $font-stack;
  font-size: 20px;
  cursor: pointer;
  width: 250px;
  outline: none;
  @include header;
  @include letterpress($primary-color-dark);
  @include box-shadow(0px, 10px, 0px, $primary-color-dark);
  @include border-radius(5px);
  border: 1px solid $primary-color-dark;

  &:hover {
    background-color: $primary-color-light;
  }

  &:active,
  &:disabled {
    position: relative;
    top: 5px;
    @include box-shadow(0px, 5px, 0px, $primary-color-dark);
  }
}

.none-form {
  font-family: $body-font;
  padding: 10px;
  font-size: 20px;
  width: 580px;
  @include center-block;
  @include border-radius(5px);
}

#host-submit,
#join-submit {
  @include center-block;
}

.chore {
  background-color: #fff;
  width: 920px;
  padding: 20px;
  color: $primary-color-dark;
  @include center-block;
  @include border-radius(5px);

  .chore-date {
    font-family: $font-stack;
    font-weight: 700; 
    font-size: 50px;
  }

  h4, h5 {
    text-align: left;
    color: $primary-color-dark;
    font-size: 200%;
    @include letterpress(rgba(0,0,0,0));
  }

  .chore-desc {
    font-family: $body-font;
    font-size: 20px;
  }
}